@page "/"
@using BluForTracker.Client.Shared.Services;

<h1>Loading...</h1>

@code {
    [Inject] public required NavigationManager NavManager { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        NavManager.NavigateTo("/main");
    }
}