@page
@namespace BluForTracker.Server
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.Configuration
@using BluForTracker.Client
@inject IConfiguration Configuration
@{
    var clientVersion = typeof(App).Assembly.GetName().Version?.ToString() ?? "unk";
    var googleMapsApiKey = Configuration.GetValue<string>("GoogleMapsApiKey");
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>BluForTracker</title>
    <base href="/" />
    <link href="css/bootstrap.min.css?v=4.1.3" rel="stylesheet" />
    <link href="css/app.css?v=@clientVersion" rel="stylesheet" />
    <!-- If you add any scoped CSS files, uncomment the following to load them
    <link href="BluForTracker.Client.styles.css?v=@clientVersion" rel="stylesheet" /> -->
    <link href="manifest.json?v=@clientVersion" rel="manifest" />
</head>

<body>
    <div id="app">Loading...</div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.webassembly.js?v=@clientVersion"></script>
    <script src="js/map.js?v=@clientVersion"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=@googleMapsApiKey&libraries=places&callback=window.mapModule.mapsCallback"></script>
    <component type="typeof(HeadOutlet)" render-mode="WebAssembly" />
    <script>navigator.serviceWorker.register('service-worker.js?v=@clientVersion', { updateViaCache: 'none' });</script>
</body>

</html>
