#button-row {
	height: 7%;
	width: 100%;
	table-layout: fixed;
}
#screen-lock-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #37373794;
	z-index: 300;
}
#main-view {
	height: 93%;
}
#map-view-container {
	height: 100%;
}
#map-view-container.map-view-container-open-tab {
	height: 40%;
}
.main-view-button {
	border: none;
	width: 100%;
	height: 100%;
	color: #767676;
	background-color: white;
	font-weight: 300;
	font-size: x-large;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	box-shadow: 0px 0px 6px 0px inset #c8c8c8;
	cursor: pointer;
}
	.main-view-button.locked {
		background-color: #d18500;
	}
.main-view-button-selected {
	box-shadow: none;
	background-color: white;
	font-weight: 500;
	color: black;
}
.tab-view-container {
	height: 60%;
	overflow: auto;
	padding: 20px;
	border-bottom: 2px dotted #969696;
}
.display-none {
	display: none;
}
