@namespace BluForTracker.Client.Shared.Components
@using Microsoft.AspNetCore.Components.Forms

<div class="container">

    <section class="section">
        <h1 class="title">User Details</h1>
        <EditForm Model="@_formData" OnValidSubmit="OnValidSubmit" class="edit-form">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="field">
                <label for="username" class="username is-medium">Username (Max @MarkerFormModel.UsernameMaxChars characters):</label>
                <div class="control">
                    <InputText @bind-Value="_formData.Username" id="username" class="input is-medium" placeholder="Please enter a username" required />
                </div>
            </div>
            <div class="field">
                <label for="color" class="label is-medium">Marker Color:</label>
                <div class="control">
                    <input type="color" @bind="_formData.Color" id="color" class="input is-medium" style="width:60px;height:60px;" required />
                </div>
            </div>
            <div class="submit-btn-container">
                <button type="submit" class="button is-success is-medium submit-btn">Save User Details</button>
            </div>
        </EditForm>
    </section>

    <section class="section">
        <h1 class="title">Status</h1>
        <h2 class="subtitle">
            Dashboard for showing application status.
        </h2>
        <table class="table is-bordered">
            <thead>
                <tr>
                    <th>Location Status</th>
                    <th>Connection Status</th>
                    <th>Connection ID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input @ref="_geolocationStatusRef" disabled /></td>
                    <td><input @ref="_hubConnectionStatusRef" disabled /></td>
                    <td><input @ref="_hubConnectionIdRef" disabled /></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="section">
        <h1 class="title">Share</h1>
        <h2 class="subtitle">
            Get some information about how to get this app.
        </h2>
        <div style="text-align:center;">
            <img style="width:65%;max-width:400px;" src="_content/BluForTracker.Client.Shared/images/qr-code.svg" />
        </div>
    </section>

</div>
