.edit-form {
	max-width: 500px;
	margin: auto;
}
.submit-btn-container {
	text-align: center;
}
.submit-btn {
	width:220px;
}
#color {
	width:100%;
}
input[type="color"] {
	appearance: none;
	border: none;
	padding: 0;
	height: 50px;
	width: 50px;
}
::-webkit-color-swatch, ::-moz-color-swatch {
	border: none;
}